@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
  background: #0a11ea;
  background: linear-gradient(90deg,#141c94,#6471ec);
  font-family: Arial,Helvetica,sans-serif;
}

header{
  text-align: center;
}

.text_header{
  color: white;
  font-size: 40px;
  font-family: 'Architects Daughter', cursive;
}

.content_main{
  height: auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.text_title{
  color: #9c6c9c;
    font-size: 20px;
    text-align: center;
}

.content_form{
  margin: 10px 15px;
  
}

.content_view{
  width: 45%;
}

.content_list{
  margin: 10px 15px 15px 0;
  
}


.campos_input{
  height: 30px;
  border-style: hidden;
  margin: 8px 0;
  width: 96%;
  border-radius: 5px;
  padding: 0 0 0 8px;
  border: 1px solid #c2c2c2;
}

.label{
  font-size: 14px;
}

.button{
  height: 30px;
  width: 96%;
  border-radius: 5px;
  border-style: hidden;
  border: 1px solid;
  color: white;
  background-color: rgb(72, 72, 236);
  margin-top: 15px;
}

.button:hover{
  cursor: pointer;
  background-color: #0a11ea;
}

.list_gasto{
  border-bottom: 1px solid #c2c2c2;
}

.list_gasto{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list_gasto .content_precio{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 74px;
  height: 33px;
  border-radius: 5px;
}

.list_gasto .monto_gasto {
  color: white;
  text-align: center;
}

.content_presupuesto{
  display: flex;
  align-items: center;
  background-color: rgb(7, 168, 243);
  border-radius: 5px;
  width: 92%;
  height: 40px;
  padding: 0 0 0 10px;
  margin-bottom: 15px;
}

.text_presupuesto{
  color: #050947;
  font-size: 14px;
}

.content_restante{
  display: flex;
  align-items: center;
  background-color: rgb(153, 223, 190);
  border-radius: 5px;
  width: 92%;
  height: 40px;
  padding: 0 0 0 10px;
}

.text_restante{
  color: #03290b;
  font-size: 14px;
}

@media screen and (max-width: 1020px){

}

@media screen and (max-width: 967px){

}

@media screen and (max-width: 767px){
  .content_main{
    width: 95%;
  }
  .content_form{
    margin: 10px 5px;
  }
  .list_gasto{
    justify-content: space-between;
  }

}

@media screen and (max-width: 457px){
  .text_title{
    margin-left: -4px;
  }
  .campos_input{
    width: 80%;
  }
  .button{
    width: 85%;
  }
 
}
